.mod{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .uno{
    float: right;
    background: sienna;
    padding: 4em;
  }
  .dos{
    background:black;
    padding: 4em;
    color: white;
    width: 100%;
  }
  .aside{
    background: #EBFFD3;
    height: 80vh;
    width: 30vw;
  }
  .bot{
    margin-top: 10em;
  }
  .lista{
    padding: 2em;
    width: 7em;
    height: 2em;
    background: #88AAE0 ;
    color: red;
    margin-bottom: 1em;
    list-style: none;
    border-radius: 5%;
  }